<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container">
    <h1 class="text-center">List Cabang Restaurant</h1>
    <h1 class="text-center"><%= dataRs.name %> </h1>
    <h2>Owner:<%= dataRs.owner %></h2>

    <p1>Welcome <%= user.name %></p1>
    <p1> <%= user.birth %></p1>
    <p1> <%= user.email %></p1>
    <p1> <%= user.username %></p1>
    <table class="table">
        <thead>
            <tr>
                <th>Id </th>
                <th>Cabang</th>
                <th>No.Telp</th>
                <th>Alamat</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <% dataCb.forEach(el=>{ %>
            <tr>
                <td><%= el.id %></td>
                <td><%= el.cabang%></td>
                <td><%= el.notelp%></td>
                <td><%= el.alamat %></td>
                <td>
                    <a href="/cs/<%= el.id %>/edit">
                        <button type="button" class="btn btn-warning">Edit</button>
                    </a>
                    <a href="/cs/<%= el.id %>/delete" onclick="return confirm('Are you sure?')">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                    <a href="/restaurant/<%= dataRs.id %>/cabang/<%= el.id %>/addreview">
                        <button type="button" class="btn btn-success">Add Reviews</button>
                    </a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer.ejs') %>