<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

    <div class="container w-25">
        <h3>
            Edit Review : <%= session.name %> (<%= session.username%>)
        </h3>
        <br>
        <form action='/review/info/<%= idRs %>/<%= idCb %>/add/user/<%= session.id %>/adding' method='post'>
            <div class="form-group">
                <label for = ""> Review </label>
                <br>
                <input type="text" class= "form-control" name="review" value="<%= data.review %>"> 
                <br>
            </div>
            
            <div class="form-group">
                <label for = ""> Rating </label>
                <br>
                <input type="text" class= "form-control" name="rating" value="<%= data.rating %>"> 
                <br>
            </div>
            <button type = "Submit" class="btn btn-primary"> Submit </button>
        </form>
    </div>

<%- include('../partials/footer.ejs') %>