<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container">
    <h1>List Review</h1>
    <h1 class="text-center">List Review</h1>
        <h1>Rating Cabang ini : <%= mean %> </h1>
        <p1> Anda Login Sebagai </p1>
        <p1><%= session.username %></p1>

        <a href = '/review/info/<%=idRs%>/<%=idCb%>/add/user/<%=session.id%>'>
            <button type="button" class="btn btn-success mx-2 my-2 my-sm-0">Add Reviews</button>
        </a>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>name(username)</th>
                <th>email</th>
                <th>review</th>
                <th>rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el=>{ %>
            <tr>
                <td><%= el.getFullInfo()%></td>
                <td><%= el.User.email%></td>
                <td><%= el.review%></td>
                <td><%= el.rating%></td>
                <td>
                <a href="/review/info/<%=el.Cabang.RestaurantId%>/<%=el.CabangId%>/<%=el.UserId%>/edit">
                    <button type="button" class="btn btn-warning">Edit</button>
                </a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer.ejs') %>